@import './colors.css';

* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10pt;

  border: none;
  border-radius: 15px;

  padding: 3px 4px;

  font-weight: 600;
  color: @text;

  margin-top: 0px;
  margin-bottom: 1px;
}

window#waybar {
  background-color: @base;
  color: @text;
  border: 2px solid @blue;
}

window#waybar #window {
  padding: 6px;
}

#workspaces {
  background-color: @surface0;
  border-radius: 10px;
  margin-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

#workspaces button {
  background-color: transparent;
  color: @on_surface;
  padding: 0 6px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: @base;
  border-radius: 10px;
}

#clock {
  margin: 8px 8px;
  background-color: @surface0;
  color: @text;
  padding: 0 10px;
  border-radius: 10px;
}

#custom-logo {
  margin-top: 2px;
  margin-left: 5px;
  color: @blue;
  font-size: 20px;
}

#battery {
  margin-right: 10px;
  color: @text;
}

#battery.warning {
  color: @yellow;
}

#network, #battery {
  font-size: 16px;
}
