@import './colors.css';

* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10pt;

  border: none;
  border-radius: 18px;

  padding: 2px 3px;

  font-weight: 600;
  color: @foreground;

  margin-top: 0px;
  margin-bottom: 1px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  border-bottom: 3px solid @color4;
}

window#waybar #window {
  padding: 6px;
}

#workspaces {
  background-color: @surface_container_high;
  border-radius: 6px;
}

#workspaces button {
  background-color: transparent;
  color: @on_surface;
  padding: 0 6px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: @surface_container;
  border-radius: 5px;
}

#workspaces button.focused {
  background-color: transparent;
  color: @on_primary;
}

#clock {
  margin: 0px 8px;
  background-color: @surface_container_high;
  color: @on_surface;
  padding: 0 10px;
  border-radius: 8px;
}

#custom-logo {
  margin-left: 10px;
  color: @primary;
}

#battery {
  margin-right: 10px;
  color: @on_surface;
}

#battery.warning {
  color: @error;
}
